NODE_ENV=

ALLOWED_ORIGINS=

COOKIE_SECRET=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

JWT_SECRET=
JWT_EXPIRES_IN=
JWT_ALGORITHM=
JWT_AUDIENCE=
JWT_ISSUER=